<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GeoFleetBL.Properties.Settings.GeoFleet_PRBConnectionString"
            connectionString="Data Source=192.100.115.14;Initial Catalog=GeoFleet_PRB;Persist Security Info=True;User ID=sa;Password=Sqlrma14$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>